
.login-container {
min-height: 100vh;
background-color: #f8f9fa;  


/*AQUI ES PARA EL FONDO IMG*/ 
background-image: url('/src/assets/Bodega_Logistica.jpg');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
display: flex;
align-items: center;
justify-content: center;
overflow: hidden;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.8) 0%, rgba(20, 20, 20, 0.7) 100%);
    backdrop-filter: blur(4px); 
    z-index: 1;
}

.card {
border-radius: 12px;

/*CARD ES PARA IMG*/ 
position: relative;
z-index: 2;
background-color: rgba(255, 255, 255, 0.9);
}

.custom-input {
border: 1px solid #dee2e6;
font-size: 0.95rem;
transition: all 0.2s ease;
}

.custom-input:focus {
border-color: #212529;
box-shadow: none;
background-color: #fff;
}

.tracking-wider {
letter-spacing: 2px;
}

.btn-dark {
background-color: #212529;
border: none;
transition: background-color 0.3s ease;
}

.btn-dark:hover {
background-color: #000;
}









.animate-fade-up {
    animation: fadeUp 0.8s ease-out forwards;
}



@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }



}